<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
         version="2.0">
		 
<persistence-unit name="sample">
  
  
  <properties>
     <property name="hibernate.connection.driver_class">com.mariadb.jdbc.Driver</property>
	 <property name="hibernate.connection.username">root</property>
     <property name="hibernate.connection.password">root</property>
     <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/spotpricehistory<hostname>/<database></property>
   </properties>
  </persistence-unit>
</persistence>